

.cont{
    width: 65%;
    margin: auto;
    
}

.car_body img{
    width: 15%;
    margin: 10px 10px 10px 10px;

}
.car_body{
    
    display: flex;
    justify-content: start;
    align-items: center;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(220, 219, 219);
    
}

.car_text:hover{
    text-decoration:none;
    color: rgb(0, 0, 0);
    
}

.car_text{
    text-decoration:none;
    color: rgb(0, 0, 0);
    width: 70%;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;flex-direction: column;
    padding: 30px;
    margin: 10px 10px 10px 0;
}
.car_text h6{
    padding:5px;
}
.car_quantity{
    width: 25%;
    height: 5%;
    margin-right: 5%;
}
.car_quantity form{
    display: flex;
    justify-content: center;
    align-items: center;
}
.qty {
    width: 40px;
    height: 35px;
    text-align: center;
    border: 0;
    border: 1px solid rgb(133, 127, 84);
}

.qtyplus {
  
    transform: scale(2);
    margin-left: 30px;
    color: rgb(133, 127, 84);
}
.qtyminus {
   
    transform: scale(3);
    margin-right: 30px;
    color: rgb(133, 127, 84);
}
.price{
    margin-right: 5%;
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: end;
}

.car_footer{
    margin: auto;
    background-color: rgb(255, 255, 255);
    width:65%;
    height:70px;
    position: sticky;
    bottom: 0;
    box-shadow: 0 -2px 10px rgb(153 153 153 / 20%);
    justify-content: end;
    display: flex;
    align-items: center;
}
.car_momey{
    justify-content: center;
    display: flex;
    align-items: center;
}
.car_momey h4 ,h5{
    margin: 0;
    margin-right: 5px;
}
.goshop{
    width: 130px;
    height: 50px;
    margin: 0 30px 0 30px;
    background-color: rgb(133, 127, 84);
    border-color:rgb(255, 255, 255);
    
}
.goshop a{
    text-decoration:none;
    color: rgb(255, 255, 255);
    font-weight:bold;

    
}