.body_center{
    display: flex;
    flex-direction: column;
    background-color: rgb(251, 251, 251);
}
.shop_body{
    display: flex;
    justify-content: center;
    padding-top: 3%;
}
.shop_img{
    width: 450px;
    height: 450px;
    box-shadow: rgb(153 153 153 / 20%);
}
.carousel{
    max-height: 500;
    max-width: 423px;
    width: auto;
    height: auto;
}
.carousel .item {
    width: 100%;
    height: 500px;
    min-height: 100px;
    background-color: rgb(79, 79, 79);
  }
  
  .carousel-inner > .item > img {
    position: absolute;
    min-width: 100%;
    width: auto;
    height: auto;
  }
.content{
    width: 35%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}
.content p{
    font-size: 30px;
    color: rgb(70, 70, 70);
}
.car_quantity{
    width: 25%;
    height: 5%;
    margin-top: 50px;
}
.car_quantity form{
    display: flex;
    justify-content: flex-start;
}
.quantity {
    width: 40px;
    height: 35px;
    text-align: center;
    border: 1px solid #aaa;
    
}

.decrease {
    width: 35px;
    height: 35px;
    border: 1px solid #aaa;
    background: #f8f8f8;
}

.increase {
    width: 35px;
    height: 35px;
    border: 1px solid #aaa;
    background: #f8f8f8;
}

.button{
    margin-top: 15%;
    display: flex;
    justify-content: start;
}
.car,.buy{
    width: 250px;
    height: 50px;
    color: rgb(236, 236, 236);
    background-color:rgb(133, 127, 84) !important;
    margin-right: 30px;
    border-color:rgb(255, 255, 255);
    font-size: 18px;
    font-weight:bold;

}
.car:active{
    background-color:rgb(85, 77, 20) !important;
      
}

.buy a{
    text-decoration:none;
    color: rgb(236, 236, 236) !important;
}
.illustrate{
    margin-top:1%;
    display: flex;
    flex-direction: column;
    margin-bottom: 1%;
    
    

}
.txt{
    width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto;
   
}

.d-block{
    object-fit: contain;
    width: 100%;
    height: 90%;
}
.txt h3{
    padding-left: 5%;
}
h6{
    padding-left: 5%;
    width: 80%;
    line-height: 30px !important;
}

